.manual {
  margin-top: 1em;
}
.manual-title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 1em;
}

.manual-buy-btn:hover {
  background-color: darkseagreen !important;
  border-color: darkseagreen !important;
}

.manual-sell-btn:hover {
  background-color: darkred !important;
  border-color: darkred !important;
}

.manual-buy-btn .manual-sell-btn {
  width: 95px;
}
