.buy-sell-option {
    display: flex;
    margin-bottom: 1em;
}

.setting {
    margin: 1em 5em 0 5em
}

.inputgroup {
    width: 65% !important;
}

.max-min-val {
    margin-top: 1em;
    width: 50%;
}

.maxval {
    width: 316px !important;
    margin-bottom: 1em;
}

.minval {
    margin-top: 1em;
    width: 316px !important
}

.timestamp {
    margin-top: 1em;
    width: 25% !important;
}

.run-btn {
    margin-top: 1em;
}