.setting {
    margin: 5em;
}

.inputgroup {
    width: 65% !important;
}

.max-min-val {
    margin-top: 3em;
    width: 50%;
}

.maxval {
    width: 316px !important;
    margin-bottom: 1em;
}

.minval {
    margin-top: 1em;
    width: 316px !important
}

.timestamp {
    margin-top: 3em;
    width: 25% !important;
}

.run-btn {
    margin-top: 3em;
}